/* .container { 
    display: grid;
    min-height: 90vh;
    margin-top: 30px;
    grid-template-columns: 49% 49%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
} */

.container-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.mat-card { 
    text-align: center;
    background:rgba(233, 30, 99, 0.7);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    padding: 15 0px;
    font-size: 20px;
    margin-top: 10px;
}