<div class="animated fadeIn" style="margin-left: 8px; margin-top: 8px;">
    <mat-form-field *ngIf=" (turnos.length >= 0 && isFiltering) || (turnos.length > 0 && !isFiltering)" style="width: 90%;">
        <mat-label>Filtrar por Apellido</mat-label>
        <input matInput (keyup)="applyFilter($event)"  style="width: 100%;">
    </mat-form-field>
</div>

<div *ngIf="(turnos.length >= 0 && isFiltering) || (turnos.length > 0 && !isFiltering)" class="main-container">
    
   

    <div class="table-container animated fadeIn" 
         #tableScroll 
         scrollable 
         (scrollPosition)="scrollHandler($event)" 
    
    >

    <div style="position: relative;">

        <div *ngIf="loading && backgroundLayer" class="table-spinner">
            <mat-spinner></mat-spinner>
        </div>

        <table mat-table 
               [dataSource]="dataSource" 
               style="width: 100%;" 
               matSort 
               [ngClass]="{'backgrond-layer': backgroundLayer}"
        >



            <ng-container matColumnDef="apellido_y_nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido y nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.apellido }} {{ element.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let element">{{ element.desde  | date:'EE dd MMM' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="desde">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Desde</th>
                <td mat-cell *matCellDef="let element">{{element.desde | date:'shortTime' : 'GMT'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="hasta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hasta</th>
                <td mat-cell *matCellDef="let element">{{element.hasta | date: 'shortTime' : 'GMT'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="consulta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Consulta</th>
                <td mat-cell *matCellDef="let element">{{ element.consulta }}</td>
            </ng-container>

            <ng-container matColumnDef="obra_social">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Obra social</th>
                <td mat-cell *matCellDef="let element">{{ element.obra_social }}</td>
            </ng-container>

            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="tableType =='Especialistas'"
                            (click)="openDialog('Editar Turno', element)" 
                            mat-icon-button matTooltip="Editar Turno"
                            color="accent"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button *ngIf="tableType =='Turnos Pasados'"
                            (click)="openDialog('Añadir Diagnóstico', element)"
                            mat-icon-button matTooltip="Añadir Diagnóstico"
                            color="warn"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button (click)="deleteTurno(element)" mat-icon-button matTooltip="borrar turno" color="warn"   
                           [disabled]="tableType == 'Turnos Pasados'" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        </div>
    </div>
</div>


<div class="container-spinner" *ngIf="loading && !backgroundLayer" >
    <mat-spinner></mat-spinner>
</div>



<mat-card *ngIf="turnos.length == 0 && tableType == 'Especialistas' && miembro && !loading && miembro.genero == 'Masculino' && !isFiltering" class="mat-elevation-z8 animated fadeIn">
    El especialista {{ miembro.apellido }} {{ miembro.nombre }} no tiene turnos asignados.
</mat-card>

<mat-card *ngIf="turnos.length == 0 && tableType == 'Especialistas' && miembro && !loading && miembro.genero == 'Femenino' && !isFiltering" class="mat-elevation-z8 animated fadeIn">
    La especialista {{ miembro.apellido }} {{ miembro.nombre }} no tiene turnos asignados.
</mat-card>

<mat-card *ngIf="turnos.length == 0 && turnosConcretadosLength == 0 && tableType == 'Turnos Pasados' && miembro && !loading && miembro.genero == 'Masculino' && !isFiltering" class="mat-elevation-z8 animated fadeIn">
    El especialista {{ miembro.apellido }} {{ miembro.nombre }} no tiene turnos concretados.
</mat-card>

<mat-card *ngIf="turnos.length == 0 && turnosConcretadosLength == 0 && tableType == 'Turnos Pasados' && miembro && !loading && miembro.genero == 'Femenino' && !isFiltering" class="mat-elevation-z8 animated fadeIn">
    La especialista {{ miembro.apellido }} {{ miembro.nombre }} no tiene turnos concretados.
</mat-card>