<!------------------------------------------------------ ToolBar  ------------------------------------------------------>
<mat-toolbar color="primary" class="mat-elevation-z8" style="position: sticky; z-index: 10; top: 0; -webkit-user-drag: none; -webkit-user-select: none;">
    <span (click)="isOpen()" style="cursor: pointer;">
        <mat-icon>menu</mat-icon>
    </span>
    <span style="flex: 1 1 auto"></span>
    <span style="padding: 0 20px;"> <mat-icon style="transform: translateY(5px);">local_hospital</mat-icon> {{ title }}</span>
</mat-toolbar>

