
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$consultorio-ayacucho-app-primary: mat-palette($mat-purple, 500);
$consultorio-ayacucho-app-accent: mat-palette($mat-amber, 400, 300, 600);

// The warn palette is optional (defaults to red).
$consultorio-ayacucho-app-warn: mat-palette($mat-pink);

// Create the theme object (a Sass map containing all of the palettes).
$consultorio-ayacucho-app-theme: mat-light-theme($consultorio-ayacucho-app-primary, $consultorio-ayacucho-app-accent, $consultorio-ayacucho-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($consultorio-ayacucho-app-theme);

