html,
body {
  max-height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*--------------------------------------- SCROLLBAR ---------------------------------------*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #9c27b0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #9c27b0;
}

/*--------------------------------------- CALENDAR STYLES --------------------------------*/

.slotStyles {
  cursor: pointer;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.fc-toolbar h2 {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.fc-button,
.fc-button {
  background-color: #9c27b0;
  background-image: none;
  border: none;
}
.fc-button:hover,
.fc-button:hover {
  background-color: #6a0080;
}

.fc-button:disabled {
  background-color: rgba(156, 39, 176, 0.6);
}

.fc-button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(106, 0, 128, 0.25);
  box-shadow: 0 0 0 0.2rem rgb(106, 0, 128, 0.25);
}
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color: #6a0080;
  border-color: #6a0080;
}

.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(106, 0, 128, 0.25);
  box-shadow: 0 0 0 0.2rem rgb(106, 0, 128, 0.25);
}